<!-- start projects -->
<section id="projects">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-12">
                <h1>Mis proyectos</h1>
                <p>
                    En esta sección podrá ver algunos proyectos que he realizado con las tecnologias
                    que uso regularmente para el desarrollo de cualquier proyecto.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- card 1 -->
            <div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                <div class="card mb-3">
                    <img src="./assets/img/project1.png" class="card-img-top" alt="proyect 1">
                    <div class="card-body">
                        <h5 class="card-title">App Chat</h5>
                        <p class="card-text">Aplicacion hecha en Flutter con sokects y el backend en node.js</p>
                        <p class="card-text"><small class="text-muted">Git</small></p>
                        <p class="card-text"><small class="text-muted">Project</small></p>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                <div class="card mb-3">
                    <img src="./assets/img/project2.png" class="card-img-top" alt="proyect 2">
                    <div class="card-body">
                        <h5 class="card-title">App Chat</h5>
                        <p class="card-text">Aplicacion hecha en Flutter con sokects y el backend en node.js</p>
                        <p class="card-text"><small class="text-muted">Git</small></p>
                        <p class="card-text"><small class="text-muted">Project</small></p>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                <div class="card mb-3">
                    <img src="./assets/img/project1.png" class="card-img-top" alt="proyect 3">
                    <div class="card-body">
                        <h5 class="card-title">App Chat</h5>
                        <p class="card-text">Aplicacion hecha en Flutter con sokects y el backend en node.js</p>
                        <p class="card-text"><small class="text-muted">Git</small></p>
                        <p class="card-text"><small class="text-muted">Project</small></p>
                    </div>
                </div>
            </div>
            <!-- card 4 -->
            <div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                <div class="card mb-3">
                    <img src="./assets/img/project2.png" class="card-img-top" alt="proyect 4">
                    <div class="card-body">
                        <h5 class="card-title">App Chat</h5>
                        <p class="card-text">Aplicacion hecha en Flutter con sokects y el backend en node.js</p>
                        <p class="card-text"><small class="text-muted">Git</small></p>
                        <p class="card-text"><small class="text-muted">Project</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end projects -->