<!-- start projects -->
<section id="projects">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-12">
                <h1>Mis proyectos</h1>
                <p>
                    En esta sección podrá ver algunos proyectos que he realizado con las tecnologias
                    que uso regularmente para el desarrollo de cualquier proyecto.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- card 1 -->
            <div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3">
                <div class="card fadeIn mb-3 ">
                    <img src="./assets/img/chat-app.png" class="card-img-top" alt="proyect 1">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">App Chat</h5>
                            <a class="btn btn-light" target="_blank" href="https://velvety-lamington-44ff23.netlify.app/">Demo</a>
                        </div>
                        <p class="card-text">
                            Aplicación de chat en tiempo real, cuenta con LogIn, Registro de cuentas, autentificación con JWT back y front, guards.
                        </p>
                        <p class="card-text">
                            Angular 12:
                            <small class="text-muted">
                                primeng - ngx-socket-io
                            </small>
                        </p>
                        <p class="card-text">
                            Nodejs:
                            <small class="text-muted">
                                express - jwt - mongoose - socket.io...
                            </small>
                        </p>
                        <p class="card-text">
                            MongoDB
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end projects -->