<!-- home -->
<section id="home">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">
                <h1>About me</h1>
                <p>
                    Hola, mi nombre es <b>Javier Gutierrez</b>, soy desarrollador FullStack (junior), 
                    nací en 1998 en al bella ciudad de Cuenca - Ecuador, actualmente tengo 23 Años.
                </p>
                <p>
                    Estudie en el Instituto Superior Tecnológico Del Azuay la carrera de Análisis en Sistemas,
                    he tomado varios curso de Udemy para tener conocimientos actuales en el ambito de Desarrollador.
                </p>
                <p>
                    El profe Fernando Herrera, profesor destacado de Udemy, es una de mis inspiraciones para seguir en costante aprendizaje 
                    y mejoramiento de mis habilidades en este mundo del desarrollo web,
                    bueno, gracias por visitar mi portafolio, espero que veas mis aptitudes y habilidades en esta profesión, 
                    si te interesa mís servicios no olvides en contactarme, saludos.
                </p>
                <a type="button" class="btn btn-contact btn-lg" routerLink="/portfolio/contactme">Contact me...</a>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6 d-flex justify-content-center fadeIn">
                <img src="./assets/img/fondo.jpeg" alt="about me" class="img-fluid rounded-circle w-75">
            </div>
        </div>
    </div>
</section>
<!-- end home -->