body{
    background-color: #333333;
}
section h1{
    color: #683aa4;
}
section h3{
    color: #683aa4;
}
h5{
    color: whitesmoke;
}

p{
    color: whitesmoke;
}
.text-muted{
    color: rgb(207, 204, 204) !important;
}

/* navbar */


.bg-light{
    background-color: #232323 !important;
}

.card{
    background-color: #666666;
}

