<!-- about me -->
<section id="about-me">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <img src="./assets/img/about-me.png" alt="about me" class="img-fluid">
            </div>
            <div class="col">
                <h1>Sobre mí</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error obcaecati nesciunt possimus perspiciatis assumenda modi reiciendis eaque consectetur id illo explicabo molestias temporibus dolorem, rem voluptates nemo est rerum itaque.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nemo animi qui numquam quos similique accusantium. Est quas libero recusandae illo id molestiae repellendus eum unde. Laborum cum atque ipsam.
                </p>
                <button type="button" class="btn btn-dark btn-lg">Large button</button>
            </div>
        </div>
    </div>
</section>
<!-- end about me -->