<!-- home -->
<section id="home">
    <div class="container">
        <div class="row mt-5">
            <h1>Skills</h1>
            <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">
                <div class="row mt-1">
                    <div class="col-12">
                        <app-skill class=""></app-skill>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">
                <div class="row">
                    <div class="col-12 fadeIn">
                        <img src="./assets/img/profile.png" alt="about me" class="img-fluid">
                    </div>
                    <div class="col-12">
                        <app-aptitudes></app-aptitudes>
                    </div>
                    <div class="col-12">
                        <app-interest></app-interest>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->