<section id="contact" class="mb-5 mt-5">
    <div class="container">
        <div class="row mt-5">
            <h3 class="mt-5">Contactame por:</h3>
            <div class="col-12 mt-3 mb-5">
                <div class="card-contact d-flex justify-content-around flex-wrap text-center">
                    <div class="interest-impar mb-2 rounded-2">
                        <p class="mt-1"> 
                            <i class="fa-brands fa-whatsapp fa-2xl"></i>
                            WhatsApp
                        </p>
                    </div>
                    <div class="interest-par mb-2 rounded-2">
                        <p class="mt-1"> 
                            <i class="fa-regular fa-envelope fa-2xl"></i>
                            Gmail
                        </p>
                    </div>
                    <div class="interest-impar mb-2 rounded-2">
                        <p class="mt-1"> 
                            <i class="fa-brands fa-linkedin fa-2xl"></i>
                            LinKedin
                        </p>
                    </div>
                    <div class="interest-par mb-2 rounded-2">
                        <p class="mt-1">
                            <i class="fa-brands fa-facebook fa-2xl"></i>
                            Facebook
                        </p>
                    </div>
                    <div class="interest-impar mb-2 rounded-2">
                        <p class="mt-1">
                            <i class="fa-brands fa-telegram fa-2xl"></i>
                            Telegram
                        </p>
                    </div>
                    <div class="interest-par mb-2 rounded-2">
                        <p class="mt-1">
                            <i class="fa-brands fa-discord fa-2xl"></i>
                            Discord
                        </p>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>