

nav{
    background-color: white;
}

.navbar-brand img{
    max-height: 50px;
}

.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    color: #683aa4;
}

nav ul li a{
    color: #a9a9a9;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto 10px;
}

nav ul li a:hover{
    color: #683aa4;
}

span a{
    color: #a9a9a9;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin: auto 5px;
}
span a:hover{
    background-color: rgba(154, 95, 237, 0.5);
    color: whitesmoke;
}

.active-link{
    background-color: rgba(154, 95, 237, 0.5);
    color: whitesmoke !important;
}